<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your comment has been sent!</h1>
    <%= @comment.body %>
    <p>Thanks for using insta and have a great day!</p>
  </body>
</html>
